---
---

<footer class="bg-black rounded-3xl h-96 mt-40">
  <section class="grid grid-cols-4 max-w-screen-md mx-auto py-40">
    <div class="flex flex-col gap-4">
      <h3 class="font-bold uppercase">Product</h3>
      <ul class="flex flex-col gap-4 text-zinc-400">
        <li>
          <a href="/presentation">Presentation</a>
        </li>
        <li>
          <a href="/changelog">Changelog</a>
        </li>
        <li>
          <a href="/request-demo">Request demo</a>
        </li>
        <li>
          <a href="/affiliation">Affiliation</a>
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-4">
      <h3 class="font-bold uppercase">Support</h3>
      <ul class="flex flex-col gap-4 text-zinc-400">
        <li>
          <a href="/faq">FAQ</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/community">Community</a>
        </li>
        <li>
          <a href="/bug-report">Bug report</a>
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-4">
      <h3 class="font-bold uppercase">Company</h3>
      <ul class="flex flex-col gap-4 text-zinc-400">
        <li>
          <a href="/press-release">Press</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-4">
      <h3 class="font-bold uppercase">Legal</h3>
      <ul class="flex flex-col gap-4 text-zinc-400">
        <li>
          <a href="/privacy">Privacy</a>
        </li>
        <li>
          <a href="/termm">Terms</a>
        </li>
      </ul>
    </div>
  </section>
</footer>
