---
import Button from "@/components/button.astro";
import FacebookIcon from "@/icons/facebook.astro";
import InstagramIcon from "@/icons/instagram.astro";
import NavigationLink from "@/components/navigation-link.astro";
import YoutubeIcon from "@/icons/youtube.astro";
---

<header class="z-10 h-24 select-none px-4">
  <div class="mx-auto flex h-full max-w-screen-2xl items-center">
    <a class="flex items-center gap-4" href="/">
      <img
        alt="Logo Pogsystems"
        height="64"
        width="64"
        src="/images/logo.svg"
      />
      <span class="text-3xl uppercase tracking-widest text-amber-400">
        Pog<span class="font-semibold text-white">systems</span>
      </span>
    </a>
    <nav class="ml-auto flex items-center gap-5">
      <ul class="flex items-center gap-5 font-semibold text-gray-400">
        <li>
          <NavigationLink href="https://facebook.com/">
            <FacebookIcon class="h-5 w-5 fill-current" slot="icon" />
            Facebook
          </NavigationLink>
        </li>
        <li>
          <NavigationLink href="https://instagram.com/">
            <InstagramIcon class="h-5 w-5 fill-current" slot="icon" />
            Instagram
          </NavigationLink>
        </li>
        <li>
          <NavigationLink href="https://youtube.com/">
            <YoutubeIcon class="h-5 w-5 fill-current" slot="icon" />
            YouTube
          </NavigationLink>
        </li>
      </ul>
      <Button href="/kontakt">Kontakt</Button>
    </nav>
  </div>
</header>
